html
{
    scroll-behavior: smooth;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.container
{
    position: absolute;
    width: 100%;
    min-height: 750vh;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
}

.navbar 
{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo 
{
    width: 175px;
    margin-left: 2%;
    cursor: pointer;
}

.menu-icon
{
    width: 35px;
    cursor: pointer;
    visibility: collapse;
}

#menulist 
{
    display: block;
    width: 100%;
    height: 100px;
    max-height: 130px;
}

#navigation
{
    visibility: visible;
}

.navbar nav 
{
    flex: 1;
    text-align: right;
}

.navbar ul
{
    width: 100%;
}

.navbar nav ul 
{
    visibility:visible;
}

.navbar nav ul li
{
    list-style: none;
    color: rgb(44, 44, 44);
    display: inline-block;
    margin: 40px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bolder;
    font-size: 13px;
}

.navbar nav ul li a
{
    text-decoration: none;
    color: rgb(44, 44, 44);
    animation-name: navigation-hover_left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.navbar nav ul li a:hover
{
    /*
    animation-name: navigation-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    */
}

@keyframes navigation-hover 
{
    0%    {font-size: 13px;}
    100%  {font-size: 14px;}
}

@keyframes navigation-hover_left
{
    0%    {font-size: 13.5px;}
    100%  {font-size: 13px;}
}

.row 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.homepage
{
    position: inherit;
    flex-direction: column;
    flex-basis: 80%;
    width: 95%;
    margin-top: 5px;
    height: 500px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.homepage h1
{
    display: inline-block; 
    z-index: 1;
    margin-top: 100px;
    /* margin-left: 100px; */
    font-size: 50px;
    color: rgb(59, 59, 59);
}

.homepage h3
{
    z-index: 1;
    /* margin-left: 100px; */
    color: rgb(59, 59, 59);
}

.homepage p 
{
    text-align: center;
    margin: 0;
}

#homepage_img
{
    z-index: -2;
    width: 50%;
    float: right;
    position: absolute;
    top: 100px;
    right: -100px;;
    transform: rotate(5deg);
    background-color: transparent;
    color: rgb(59, 59, 59);
    opacity: 30%;
    overflow-x: hidden;
}

.homepage ul 
{
    visibility:visible;
    margin-left: 100px;
}

.homepage ul li
{
    list-style: none;
    color: rgb(44, 44, 44);
    display: inline-block;
    margin: 10px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bolder;
    font-size: 13px;
}

.homepage ul li a
{
    text-decoration: none;
    color: rgb(44, 44, 44);
    animation-name: navigation-hover_left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.homepage ul li a img
{
    width: 40px;
}

footer 
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    align-items: center;

}

footer img
{
    transform: translate(15%, 50%);;
    width: 175px;
    margin-left: 15%;
}

@media only screen and (min-width: 800px)
{
    .navbar nav ul 
    {
        visibility: visible;
    }
}

@media only screen and (max-width: 800px)
{
    .container
    {
        overflow-x: hidden;
        min-height: 1050vh;
    }   

    .navbar
    {
        position: absolute;
        z-index: 5;
    }

    .navbar nav ul 
    {
        position: absolute;
        text-align: center;
        top: 75px;
        right: 0;
        z-index: 2;
        visibility: collapse;
    }

    .navbar nav ul li
    {
        margin-top: 10px;
        margin: 20px;
    }

    .menu-icon
    {
        z-index: 5;
        visibility: visible;
        margin-right: 50px;
    }

    .homepage 
    {
        display: flex;
        width: 100%;
        height: 50vh;
        margin-top: 200px;
    }

    .homepage *
    {
        background-color: transparent;
    }

    .homepage_holder
    {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate(0%);
        text-align: center;
    }

    .homepage h1
    {
        margin: 0;
        visibility:visible;
    }

    .homepage h3
    {
        margin: 0;
        visibility:visible;
    }

    .homepage ul 
    {
        margin: 0;
        visibility:visible;
    }
    
    .homepage ul li
    {
        flex: 3;
        color: rgb(44, 44, 44);
        font-family: 'Fredoka', sans-serif;
        font-weight: bolder;
        font-size: 13px;
    }
    
    .homepage ul li a
    {
        text-decoration: none;
        color: rgb(44, 44, 44);
        animation-name: navigation-hover_left;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
} 